.env.*
vendor
bootstrap/cache/services.php

storage/app/*
!storage/app/assets/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/Tests*
tests/*

node_modules
**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes

phpunit.xml
readme.md

Dockerfile
docker-compose*.yml
